/* Navbar */
.navbar-inverse {
  background: #222222;
  margin-bottom: 0;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
  background: #090909;
}

/* Home */
.jumbotron p {
  font-size: 17px;
}

.jumbotron h2 {
  font-size: 27px;
  margin-bottom: 15px;
}

#boxdbusca .input-group {
  width: 80%;
}

#boxdbusca .input-group .form-control,
#boxdbusca .input-group-btn {
  display: block;
}

@media (min-width: 992px) {
  .jumbotron #boxdbusca {
    margin-top: 60px;
  }
}

/* List of items */
.items-list .item {
  font-size: 13px;
  margin-bottom: 20px;
}

.item-detail {
  margin-top: 20px;
}

.item-detail #leftcolx img {
  width: 100%;
}

.item-detail #leftcolx h1 {
  margin-bottom: 15px;
}

.item-detail #rightcolx {
  margin-top: 70px;
}

.item-detail #rightcolx h2 {
  display: inline;
  margin-right: 7px;
}

.item-detail #item-detail-description {
  margin-top: 35px;
  margin-bottom: 40px;
}

.item-detail #item-detail-owner {
  background: #e8e8e8;
  padding: 8px 10px;
  margin-bottom: 20px;
}

.item-detail #alreadyrequested {
  background: #D2EAC9;
  padding: 15px 10px;
}

/* New Item */
#new-item-form input[type='number'] {
    -moz-appearance:textfield;
}

#new-item-form input::-webkit-outer-spin-button,
#new-item-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Search */
#search-page-form p {
  margin-right: 15px;
  display: inline-table;
}

#search-page-form #id_search_text {
  margin-right: 40px;
  display: inline-table;
}

/* Rents */
.rents .pending_rent,
.rents .my_item_rent,
.rents .my_current_rent {
  background: #fafafa;
  padding: 15px 10px;
  border-bottom: 1px solid #e8e8e8;
}

.rents .pending_rent .rent_img,
.rents .my_item_rent .rent_img,
.rents .my_current_rent .rent_img {
  max-width: 80px;
  float: left;
}

.rents .pending_rent .rent_img img,
.rents .my_item_rent .rent_img img,
.rents .my_current_rent .rent_img img {
  max-width: 100%;
}

.rents .pending_rent .rent_description,
.rents .my_item_rent .rent_description,
.rents .my_current_rent .rent_description {
  padding-left: 15px;
  display: inline-block;
}

.rents .pending_rent .rent_buttons,
.rents .my_item_rent .rent_buttons,
.rents .my_current_rent .rent_buttons {
  float: right;
}

/* Extra */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
