
button, input, select, textarea {
  padding: 5px;
}

h1, h2, h3, h4, h5, h5 {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}


/* Navbar */
.navbar-inverse {
  background: #222222;
  margin-bottom: 0;
}

.navbar-inverse .navbar-brand,
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}

.navbar-inverse .navbar-nav > li > a:hover {
  background: #090909;
}

.navbar-brand {
  font-family: "Bree Serif";
  font-size: 25px;
}

/* Home */

.jumbotron {
  margin-bottom: 25px;
}

.jumbotron p {
  font-size: 17px;
}

.jumbotron h2 {
  font-size: 27px;
  margin-bottom: 15px;
}

#boxdbusca .input-group {
  width: 80%;
}

#boxdbusca .input-group .form-control,
#boxdbusca .input-group-btn {
  display: block;
}

#boxdbusca .input-group .form-control{
  height: 38px;
}

@media (min-width: 992px) {
  .jumbotron #boxdbusca {
    margin-top: 60px;
  }
}

/* List of items */
.items-list .item {
  font-size: 13px;
  padding: 0 5px;
}

.items-list .item .thumbnail {
  border: none;
  box-shadow: none;
  -webkit-box-shadow: none;
  margin-bottom: 10px;
}

.items-list .item .thumbnail .item-price{
  background: rgba(60,63,64,0.9);
  color: #fff;
  font-weight: bold;
  position: absolute;
  top: 4px;
  right: 9px;
  padding: 4px 8px;
  font-family: 'PT Sans', sans-serif;
}

.items-list .item .thumbnail .caption {
  background: #FAFAFA;
  padding: 2px 9px;
}

.items-list .item .thumbnail .caption a {
  color: #333;
}

.items-list .item .thumbnail .caption a:hover {
  color: #999;
  text-decoration: none;
}

.item-detail {
  margin-top: 20px;
}

.item-detail #leftcolx img {
  width: 100%;
}

.item-detail #leftcolx h2 {
  margin-bottom: 20px;
  font-weight: 700;
}

.item-detail #rightcolx {
  margin-top: 70px;
}

.item-detail #middlecolx {
  margin-top: 75px;
}

.item-detail #rightcolx h2 {
  display: inline;
  margin-right: 7px;
}

.item-detail #rightcolx h3 {
  margin-top: 0;
}

.item-detail #item-detail-price {
  background: rgba(60,63,64,0.9);
  color: #fff;
  padding: 15px 20px 11px;
  font-size: 15px;
}

.item-detail #item-detail-price h2{
  font-weight: bold;
  font-size: 25px;
}

.item-detail #item-detail-description {
  margin-top: 35px;
  margin-bottom: 40px;
}

.item-detail #item-detail-owner {
  background: #e8e8e8;
  padding: 10px 21px 6px;
  line-height: 26px;
}

.item-detail #item-detail-owner span {
  margin-right: 5px;
}

.item-detail #item-detail-rentformdiv {
  padding: 15px;
  background: #f8f8f8;
  border-top: 1px solid #ddd;
}

.item-detail #item-detail-rentformdiv #id_months {
  width: 60px;
}

.item-detail #item-detail-rentformdiv button[type="submit"]{
  width: 100%;
  font-size: 18px;
  margin-top: 8px;
}

.item-detail #item-detail-rentformdiv label{
  font-weight: normal;
}

.item-detail #alreadyrequested {
  background: #D2EAC9;
  padding: 15px 10px;
}

/* New Item */
#new-item-form input[type='number'] {
    -moz-appearance:textfield;
}

#new-item-form input::-webkit-outer-spin-button,
#new-item-form input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Search */
#search-page-form p {
  margin-right: 15px;
  display: inline-table;
}

#search-page-form #id_search_text {
  margin-right: 40px;
  display: inline-table;
}

/* Rents */
.rents {
  margin-top: 40px;
}
.rents .pending_rent,
.rents .my_item_rent,
.rents .my_current_rent {
  background: #fafafa;
  padding: 10px 0;
  border-bottom: 1px solid #e8e8e8;
}

.rents .rent_img {
  max-width: 80px;
  float: left;
}

.rents .rent_img img {
  max-width: 100%;
}

.rents .rent_description {
  padding-left: 15px;
  display: inline-block;
}

.rents .rent_description h4 {
  margin:0 0 5px;
  font-size: 17px;
}

.rents .rent_description h4 a {
  color: #333;
}

.rents .rent_description h4 a:hover {
  color: #999;
  text-decoration: none;
}

.rents .rent_buttons {
  float: right;
}

.rents .panel-body {
  background-color: #fafafa;
}

/* Extra */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.panel-heading .accordion-toggle:after {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
    content: "\e114";    /* adjust as needed, taken from bootstrap.css */
    float: right;        /* adjust as needed */
    color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
    /* symbol for "collapsed" panels */
    content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}
