{% extends 'myapp/base.html' %}
{% block content %}
<div class="container">
  <h2>Meus Itens</h2>
  <div class="row">
    {% for item in items %}
      <div class="col-sm-4 item">
        <h4><a href="{% url 'myapp.views.item_detail' pk=item.pk %}">{{ item.title }}</a></h4>
        <p><img src="http://placehold.it/350x250"></p>
        <p>{{ item.description|linebreaksbr }}</p>
        <h4>R${{ item.price }} por mês</h4>
        <p><a href="{% url 'item_edit' pk=item.pk %}">Editar</a></p>
      </div>
    {% endfor %}
  </div>

</div> <!-- /container -->
{% endblock %}
