{% extends 'myapp/base.html' %}

{% block content %}
  <div class="container">

    <h2>Busca</h2>

    <form class="form" action="" method="get" id="search-page-form">
      {{form.as_p}}
      <button class="btn btn-default" type="submit" style="margin-top: -2px;"><i class="glyphicon glyphicon-search" style="font-size: 16px;"></i></button>
    </form>

    <div class="row items-list">
      {% for item in object_list %}
        <div class="col-sm-3 item">
          <div class="thumbnail">
            <img src="http://placehold.it/350x250">
            <div class="caption">
              <h4><a href="{% url 'myapp.views.item_detail' pk=item.pk %}">{{ item.title }}</a> R${{ item.price }}</h4>
              <p>{{ item.description|linebreaksbr|truncatechars:200 }}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>

  </div> <!-- /container -->
{% endblock %}
