{% extends 'alugueme/base.html' %}

{% block content %}
<div class="container">
    <h2>{{ user.get_full_name }}</h2>
    <p>Email: {{ user.email }}</p>
    <p>Telefone: {{ user.profile.phone_number }}</p>
    <p>Curso: {{ user.profile.course }}</p>

    <h3>Avaliações</h3>
    <div><h4>Como locador</h4>
      {% for avaliation in avaliations_as_owner %}
        {% include 'alugueme/_display_avaliation.html' %}
      {% endfor %}
      <h4>Como locatário</h4>
      {% for avaliation in avaliations_as_renter %}
        {% include 'alugueme/_display_avaliation.html' %}
      {% endfor %}
    </div>

    <h3>Itens</h3>
    <div class="row items-list">
      {% for item in items %}
        {% include 'alugueme/_display_item.html' %}
      {% endfor %}
    </div>
</div>

{% endblock %}
